header {
  background-color: teal;
  height: 100px;
}

header h1 {
  line-height: 100px;
  text-transform: uppercase;
  font-weight: 800;
}

mds-bg{
  height: 150px;
}

mds-pass{
  background-color: wheat;
  font-size: larger;
}